# Spotify API credentials
SPOTIFY_CLIENT_ID=tu_client_id_aqui
SPOTIFY_CLIENT_SECRET=tu_client_secret_aqui

# Opcional si después usamos OAuth para cosas más avanzadas
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

# General
ENV=local

